[Unit]
Description=Liner2 Daemon
After=mysql.service

[Service]
Restart=on-failure
WorkingDirectory=/opt/liner25_master_rc3
ExecStart=/opt/liner25_master_rc3/liner2-daemon sql -models /opt/daemon_cfg.ini -max_threads 10 -db_uri badger:badgerPWr@localhost:3306/nerws -ip 127.0.0.1 -p 3333

[Install]
WantedBy=multi-user.target

